.main {
  display: grid;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.upper-half {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: auto;
  object-fit:fill;
  z-index: 0;
}

.title {
  z-index: 1;
  font-size: 4rem;
  text-align: center;
  color: black; /* Darker text color */
  margin-bottom: 0px;
  margin-top: 30px;
}

.lower-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: maroon;
}

.lower-half::after {
  content: '';
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white overlay */
  z-index: 0; /* Ensure it's above content but below buttons */
  }

.lower-half p {
  font-size: 2rem;
  color: white; /* Darker text color */
  margin-bottom: 0px;
  margin-top: 150px;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 400px; /* Limit button width */
  height: 100%;
  z-index: 1;
}

.buttons button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: gray; /* Bootstrap blue */
  color: black;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.buttons button:hover {
  background-color: maroon; /* Darker shade of blue on hover */
  border: 5px solid white;
  color: white;
}

/* Media Queries */
@media screen and (max-width: 2560px) {
  .upper-half{
      height: 50vh;
      z-index: 0;
      background-color: whitesmoke;
  }

  .lower-half {
      z-index: 1;
      height: 50vh;
  }

  .lower-half::after {
      content: '';
      position: absolute;
      top: 50;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white overlay */
      z-index: 0; /* Ensure it's above content but below buttons */
  }

  .bg-img {
      z-index: 0;
        top: -80%; /* Adjust vertical positioning of background image */
    }
  
  .title {
    font-size: 5rem; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust top margin for title */
    color: black;
  }

  .lower-half p {
    font-size: 4rem; /* Adjust font size for smaller screens */
    margin-top: 30px; /* Adjust margin for text */
  }

  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 3rem;
      width: 100%;
      max-width: 700px; /* Limit button width */
      height: 100%;
      z-index: 1;
    }

  .buttons button{
      padding: 0.5rem 1rem;
      font-size: 4rem;
      background-color: gray; /* Bootstrap blue */
      color: black;
      border: none;
      cursor: pointer;
      z-index: 1;
      margin-top: 0px;
  }
}

@media screen and (max-width: 1440px) {
  .upper-half{
      height: 50vh;
      z-index: 0;
      background-color: whitesmoke;
  }

  .lower-half {
      z-index: 1;
      height: 50vh;
  }

  .lower-half::after {
      content: '';
      position: absolute;
      top: 50;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white overlay */
      z-index: 0; /* Ensure it's above content but below buttons */
  }

  .bg-img {
      z-index: 0;
        top: -80%; /* Adjust vertical positioning of background image */
    }
  
  .title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust top margin for title */
    color: black;
  }

  .lower-half p {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust margin for text */
  }

  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 3rem;
      width: 100%;
      max-width: 400px; /* Limit button width */
      height: 100%;
      z-index: 1;
    }

  .buttons button{
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      background-color: gray; /* Bootstrap blue */
      color: black;
      border: none;
      cursor: pointer;
      z-index: 1;
      margin-top: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .upper-half{
      height: 50vh;
      z-index: 0;
      background-color: whitesmoke;
  }

  .lower-half {
      z-index: 1;
      height: 50vh;
  }

  .lower-half::after {
      content: '';
      position: absolute;
      top: 50;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white overlay */
      z-index: 0; /* Ensure it's above content but below buttons */
  }

  .bg-img {
      z-index: 0;
        top: -80%; /* Adjust vertical positioning of background image */
    }
  
  .title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust top margin for title */
    color: black;
  }

  .lower-half p {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust margin for text */
  }

  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 3rem;
      width: 100%;
      max-width: 400px; /* Limit button width */
      height: 100%;
      z-index: 1;
    }

  .buttons button{
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
      background-color: gray; /* Bootstrap blue */
      color: black;
      border: none;
      cursor: pointer;
      z-index: 1;
      margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .lower-half{
      z-index: 1;
  }

  .bg-img {
    z-index: 0;
  top: -30%; /* Adjust vertical positioning of background image */
  }

  .title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    color: black;
  }

  .lower-half p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    margin-top: 10px; /* Adjust margin for text */
  }

  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 3rem;
      width: 100%;
      max-width: 400px; /* Limit button width */
      height: 100%;
      z-index: 1;
    }

  .buttons button{
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      background-color: gray; /* Bootstrap blue */
      color: black;
      border: none;
      cursor: pointer;
      z-index: 1;
      margin-top: 0px;
  }
}

@media screen and (max-width: 375px) {
  .upper-half{
      height: 30vh;
      background-color: whitesmoke;
  }

  .lower-half{
      z-index: 1;
      height: 70vh;
  }

  .lower-half::after {
      content: '';
      position: absolute;
      top: 50;
      left: 0;
      width: 100%;
      height: 70%;
      background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white overlay */
      z-index: 0; /* Ensure it's above content but below buttons */
      }


  .bg-img {
    z-index: 0;
      top: 30%; /* Adjust vertical positioning of background image */
  }

  .title {
      margin-top: 100px;
    font-size: 0.5rem; /* Adjust font size for smaller screens */
    color: black;
  }

  .lower-half p {
    font-size: 0.6rem; /* Adjust font size for smaller screens */
    margin-top: 10px; /* Adjust margin for text */
  }

  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 3rem;
      width: 100%;
      max-width: 300px; /* Limit button width */
      height: 100%;
      z-index: 1;
    }

  .buttons button{
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      background-color: gray; /* Bootstrap blue */
      color: black;
      border: none;
      cursor: pointer;
      z-index: 1;
      margin-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .upper-half{
      height: 40vh;
      background-color: whitesmoke;
  }

  .lower-half{
      z-index: 1;
      height: 60vh;
  }

  .lower-half::after {
      content: '';
      position: absolute;
      top: 50;
      left: 0;
      width: 100%;
      height: 65%;
      background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white overlay */
      z-index: 0; /* Ensure it's above content but below buttons */
      }


  .bg-img {
    z-index: 0;
      top: 30%; /* Adjust vertical positioning of background image */
  }

  .title {
      margin-top: 100px;
    font-size: 0.7rem; /* Adjust font size for smaller screens */
    color: black;
  }

  .lower-half p {
    font-size: 0.6rem; /* Adjust font size for smaller screens */
    margin-top: 10px; /* Adjust margin for text */
  }

  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 3rem;
      width: 100%;
      max-width: 300px; /* Limit button width */
      height: 100%;
      z-index: 1;
    }

  .buttons button{
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      background-color: gray; /* Bootstrap blue */
      color: black;
      border: none;
      cursor: pointer;
      z-index: 1;
      margin-top: 0px;
  }
}

