/* General styles */

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.upper-half {
  flex: 1;
}

.background-image .bg-img {
  width: 100%;
  height: auto;
  display: block;
}

.lower-half {
  padding: 20px;
  text-align: center;
}

/* Title styles */
.title h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  z-index: 5;
}

/* Button styles */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

/* Responsive styles */
.mobile {
  .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .upper-half, .lower-half{
    height: 50vh;
  }

  .upper-half{
    background-image: url('pets.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .lower-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    z-index: 0;
  }

  .lower-half::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 56%;
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }

  .title h1 {
    font-size: 1.5rem;
    color: black;
    z-index: 5;
  }

  .lower-half p{
    font-size: 1rem;
    color: white;
    z-index: 5;
  }
  
  .buttons {
    flex-direction: row;
    gap: 1.5rem;
    z-index: 5;
  }

  .buttons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: gray;
    color: black;
    cursor: pointer;
    z-index: 5;
  }

  .buttons button:hover {
    background-color: maroon;
    border: 2px solid white;
    color: white;
    z-index: 5;
  }
}

.tablet {
  .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .upper-half, .lower-half{
    height: 50vh;
  }

  .upper-half{
    background-image: url('pets.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .lower-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    z-index: 0;
  }

  .lower-half::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 56%;
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }

  .title h1 {
    font-size: 2rem;
    color: black;
    z-index: 5;
  }

  .lower-half p{
    font-size: 1.5rem;
    color: white;
    z-index: 5;
  }
  
  .buttons {
    flex-direction: row;
    gap: 1.5rem;
    z-index: 5;
  }

  .buttons button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: gray;
    color: black;
    cursor: pointer;
    z-index: 5;
  }

  .buttons button:hover {
    background-color: maroon;
    border: 2px solid white;
    color: white;
    z-index: 5;
  }
}

.desktop {
  .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .upper-half, .lower-half{
    height: 50vh;
  }

  .upper-half{
    background-image: url('pets.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .lower-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    z-index: 0;
  }

  .lower-half::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 56%;
    padding: 0px 0px;
    margin: 0px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }

  .title h1 {
    font-size: 3rem;
    color: black;
    z-index: 5;
  }

  .lower-half p{
    font-size: 2rem;
    color: white;
    z-index: 5;
  }
  
  .buttons {
    flex-direction: row;
    gap: 1.5rem;
    z-index: 5;
  }

  .buttons button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    background-color: gray;
    color: black;
    cursor: pointer;
    z-index: 5;
  }

  .buttons button:hover {
    background-color: maroon;
    border: 2px solid white;
    color: white;
    z-index: 5;
  }
}
