.appointment-container {
  background-color: rgb(240, 233, 233);
  padding: 20px; /* Reduced padding */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  height: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: rgb(240, 233, 233);
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px; /* Add margin to create space below */
}

h1 {
  color: white;
  background-color: maroon;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 80%;
  /* margin-top: 2rem; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

select {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: maroon;
  color: white;
}

.doctor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; /* Add margin to create space from sticky header */
}
.doctor-list2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.doctor-card {
  background-color: #faecec;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px;
  width: 250px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-card:hover {
  background-color: #ccc;
  box-sizing: content-box;
}

.doctor-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.doctor-info p {
  margin: 10px 0;
  font-size: small;
  color: black
}

.appointment {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.doctor-details {
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.doctor-details p {
  margin: 5px 0;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: maroon;
  color: white;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}

button:hover {
  background-color: #800000;
}
